<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-empadministration" >
	<tr>
		<td>
			<f:translate key="tx_empadministration_domain_model_office.name" />
		</td>
		<td>
		{office.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_empadministration_domain_model_office.address" />
		</td>
		<td>
		{office.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_empadministration_domain_model_office.contact_details" />
		</td>
		<td>
		{office.contactDetails}
		</td>
	</tr>
</table>
</html>
