<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-empadministration" >
	<tr>
		<td>
			<f:translate key="tx_empadministration_domain_model_employee.name" />
		</td>
		<td>
		{employee.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_empadministration_domain_model_employee.email" />
		</td>
		<td>
		{employee.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_empadministration_domain_model_employee.phone_number" />
		</td>
		<td>
		{employee.phoneNumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_empadministration_domain_model_employee.password" />
		</td>
		<td>
		{employee.password}
		</td>
	</tr>
</table>
</html>
